In [1]:
#Package Imports
import pandas as pd

#Reading in the dataset
data = pd.read_csv("../data/medications.csv")
df = data

#Viewing the first 5 rows of the dataset

df.head()

,START,STOP,PATIENT,PAYER,ENCOUNTER,CODE,DESCRIPTION,BASE_COST,PAYER_COVERAGE,DISPENSES,TOTALCOST,REASONCODE,REASONDESCRIPTION
0,2012-03-01T06:14:03Z,2012-03-22T06:14:03Z,7d3e489a-7789-9cd6-2a1b-711074af481b,d47b3510-2895-3b70-9897-342d681c769d,d989eaad-4105-1f1b-62f3-bb15e024ec2c,562251,Amoxicillin 250 MG / Clavulanate 125 MG Oral T...,24.26,0.0,1,24.26,444814009.0,Viral sinusitis (disorder)
1,2013-05-08T00:17:55Z,2013-05-19T00:17:55Z,3829c803-1f4c-74ed-0d8f-36e502cadd0f,6e2f1a2d-27bd-3701-8d08-dae202c58632,a4f8f0e3-a654-96ec-f154-a95119683058,834061,Penicillin V Potassium 250 MG Oral Tablet,32.88,0.0,1,32.88,43878008.0,Streptococcal sore throat (disorder)
2,2013-11-02T00:43:55Z,2014-01-01T00:43:55Z,3829c803-1f4c-74ed-0d8f-36e502cadd0f,6e2f1a2d-27bd-3701-8d08-dae202c58632,ef0554c1-eca1-9f75-b5d3-44b432766db9,313820,Acetaminophen 160 MG Chewable Tablet,6.18,0.0,2,12.36,NaN,NaN
3,2018-05-22T06:14:03Z,2018-05-22T06:14:03Z,7d3e489a-7789-9cd6-2a1b-711074af481b,d47b3510-2895-3b70-9897-342d681c769d,87cae904-0417-df2f-99ac-65baf83cc201,896209,60 ACTUAT Fluticasone propionate 0.25 MG/ACTUA...,25.67,0.0,1,25.67,185086009.0,Chronic obstructive bronchitis (disorder)
4,2018-05-22T06:14:03Z,2019-05-28T06:14:03Z,7d3e489a-7789-9cd6-2a1b-711074af481b,d47b3510-2895-3b70-9897-342d681c769d,87cae904-0417-df2f-99ac-65baf83cc201,896209,60 ACTUAT Fluticasone propionate 0.25 MG/ACTUA...,34.82,0.0,12,417.84,185086009.0,Chronic obstructive bronchitis (disorder)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250620 entries, 0 to 250619
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   START              250620 non-null  object
 1   STOP               236572 non-null  object
 2   PATIENT            250620 non-null  object
 3   PAYER              250620 non-null  object
 4   ENCOUNTER          250620 non-null  object
 5   CODE               250620 non-null  int64
 6   DESCRIPTION        250620 non-null  object
 7   BASE_COST          250620 non-null  float64
 8   PAYER_COVERAGE     250620 non-null  float64
 9   DISPENSES          250620 non-null  int64
 10  TOTALCOST          250620 non-null  float64
 11  REASONCODE         202454 non-null  float64
 12  REASONDESCRIPTION  202454 non-null  object
dtypes: float64(4), int64(2), object(7)
memory usage: 24.9+ MB

In [3]:
# Drop rows with any empty cells
df.dropna(
    axis=0,
    how='any',
    thresh=None,
    subset=None,
    inplace=True
)

In [4]:
df = df.select_dtypes(exclude=['object'])
data = df

In [5]:
print(data)

           CODE  BASE_COST  PAYER_COVERAGE  DISPENSES  TOTALCOST   REASONCODE
0        562251      24.26            0.00          1      24.26  444814009.0
1        834061      32.88            0.00          1      32.88   43878008.0
3        896209      25.67            0.00          1      25.67  185086009.0
4        896209      34.82            0.00         12     417.84  185086009.0
5        313782       6.62            0.00          1       6.62   10509002.0
...         ...        ...             ...        ...        ...          ...
250612  2123111     120.79           80.79         12    1449.48  233678006.0
250613   896209      39.72            0.00         12     476.64  185086009.0
250614   895994      48.85            8.85         12     586.20  233678006.0
250615  2123111     403.47          363.47         12    4841.64  233678006.0
250616   896209      42.70            2.70         12     512.40  185086009.0

[195032 rows x 6 columns]

In [6]:
import numpy as np
data.data = np.array(data)

/home/pavlito/miniconda3/envs/pyvertical-dev/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [7]:
print(data.data)

[[5.62251000e+05 2.42600000e+01 0.00000000e+00 1.00000000e+00
  2.42600000e+01 4.44814009e+08]
 [8.34061000e+05 3.28800000e+01 0.00000000e+00 1.00000000e+00
  3.28800000e+01 4.38780080e+07]
 [8.96209000e+05 2.56700000e+01 0.00000000e+00 1.00000000e+00
  2.56700000e+01 1.85086009e+08]
 ...
 [8.95994000e+05 4.88500000e+01 8.85000000e+00 1.20000000e+01
  5.86200000e+02 2.33678006e+08]
 [2.12311100e+06 4.03470000e+02 3.63470000e+02 1.20000000e+01
  4.84164000e+03 2.33678006e+08]
 [8.96209000e+05 4.27000000e+01 2.70000000e+00 1.20000000e+01
  5.12400000e+02 1.85086009e+08]]

In [8]:
# Store the feature data
X = data.data
# store the target data
y = data.REASONCODE
# split the data using Scikit-Learn's train_test_split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [9]:
from sklearn.neighbors import KNeighborsClassifier
logreg = KNeighborsClassifier(n_neighbors=6)
logreg.fit(X_train, y_train)
logreg.score(X_test, y_test)

0.9999589810902826